.HasPseudoClassExample {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.HasPseudoClassExample > div {
  width: 50%;
}

.HasPseudoClassExample div:has(> img + p) {
  border: 2px solid #000;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HasPseudoClassExample img:has(+ p) {
  margin: 0;
  border-radius: 5%;
}

.HasPseudoClassExample img:not(:has(+ p)) {
  border-radius: 50%;
}
