.container {
  width: 100%;

  pre {
    border-radius: 10px;
    font-size: 0.8em;
  }
}

.inlineSnippet {
  color: black;
  background-color: #f5f2f0;
  padding: 3px;
  border-radius: 5px;
  font-size: 0.9em;
}
